div{
border: 5px green solid;
    transition: 200ms
}
div:hover{
    background-color:blue;
}

button{
    animation: float 3000ms infinite alternate-reverse;
    transition: all 300ms;
}
button:hover{
    background-color: black;
    color: white
}
@keyframes float {
    0%{ 
        transform: translate(0px);
    }
    50%{
        transform: translate(15px,20px);
    }
    100%{
        transform: translate(45px,40px);
    }
}
